/* ================================================== */
/* TRANG CHU */

.home-content .content-header-3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 24px;
    margin: 5px 0 10px;
    color: #f90b6d;
    font-size: 20px;
}

.home-content .content-header-3 {
    margin-left: -30px;
}

.home-content,
.news {
    padding: 0 5px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.art-one-column-2 {
    flex-direction: row-reverse;
}

.home-content p {
    text-align: justify;
    margin-top: 0;
    width: 69%;
}

.home-content img, 
.home-content video{
    width: 30%;
}

.art-one-column-1 p {
    margin-left: 20px;
}

.art-one-column-2 p {
    margin-right: 20px;
}

aside {
    margin: 2px;
    padding: 5px;
    color: #000;
}

aside img {
    width: 100%;
}

.aside-left {
    grid-area: left-cell;
}

.aside-right {
    grid-area: right-cell;
}

.order-list {
    display: inline-block;
    text-align: center;
}

.order-item {
    display: inline-block;
    border: 1px solid #ed4190;
    border-radius: 5px;
    padding-top: 5px;
    width: 24%;
}